<ul class="pagination">
    <li class="active">
        <a href="#">1
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li>
        <a href="index-2.html">2</a>
    </li>
    <li>
        <a href="index-3.html">3</a>
    </li>
    <li>
        <a href="index-4.html">4</a>
    </li>
    <li>
        <a href="index-5.html">5</a>
    </li>
    <li>
        <a href="index-6.html">6</a>
    </li>
    <li>
        <a href="index-7.html">7</a>
    </li>
    <li>
        <a href="index-8.html">8</a>
    </li>
    <li>
        <a href="index-9.html">9</a>
    </li>
    <li>
        <a href="index-10.html">10</a>
    </li>
    <li>
        <a href="index-11.html">11</a>
    </li>
    <li>
        <a href="index-12.html">12</a>
    </li>
    <li>
        <a href="index-13.html">13</a>
    </li>
    <li>
        <a href="index-14.html">14</a>
    </li>
    <li>
        <a href="index-2.html">&raquo;</a>
    </li>
</ul>