/*
 * CMS de Movimiento Libre
 *
 * Copyright 2014 Guillermo Valdés Lozano <guivaloz@movimientolibre.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 *
 */

/*
 * GENERAL
 */

body {
  background-color: #888;
  padding-top: 50px;
  font-family: "Liberation Sans",Arial,sans-serif;
}

a {
  color: #6500A8;
  &:hover, &:focus {
    color: #000;
  }
  &:active, &:visited {
    color: #6500A8;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Liberation Sans",Arial,sans-serif;
  font-weight: bold;
}

code, kbd, pre, samp {
  font-family: "Liberation Mono","DejaVu Sans Mono","Courier New",monospace;
}

/*
 * SIN ESQUINAS REDONDEADAS
 */

.panel, .panel-default, .panel-group, .panel, .panel-heading, .list-group {
  border-radius: 0px;
  border: 0px;
}

.panel > .list-group:last-child .list-group-item:last-child {
  border-radius: 0px;
}

/*
 * MENU PRINCIPAL
 */

#menu-principal {
  background-color: #FFF;
  border-bottom: solid 2px #6500A8;
  a.navbar-brand {
    background-color: #FFF;
    color: #222;
    &:hover, &:focus {
      background-color: #EEE;
      color: #000;
    }
    &:active, &:visited {
      color: #222;
    }
  }
  .navbar-nav li a {
    background-color: #FFF;
    color: #222;
    &:hover, &:focus {
      background-color: #EEE;
      color: #000;
    }
    &:active, &:visited {
      color: #222;
    }
  }
}

/* NOMBRE DEL SITIO */

/* OPCIONES */

/*
 * CONTENIDO
 */

#contenido {
  background-color: #888;
  .container {
    background-color: #EEE;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .jumbotron {
    background-color: #60506A;
    background-image: url("../assets/imagenes/gulag_2014_transparente.png");
    background-repeat: no-repeat;
    background-position: left;
    color: #FFF;
    margin-bottom: 12px;
    h1 {
      font-size: 48px;
    }
    p {
      font-size: 14px;
    }
  }
  section, article {
    background-color: #FFF;
    padding: 8px;
    font-size: 16px;
    line-height: 1.5em;
    border-bottom: solid 2px #BBB;
    margin-bottom: 8px;
  }
  h1, h2, h3 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  blockquote p {
    font-size: 16px;
    line-height: 1.5em;
  }
}

.autor-fecha {
  font-size: 12px;
  line-height: 1em;
  color: #888;
}

.btn-publicacion-completa {
  border-color: #A52A2A;
  color: #A52A2A;
  &:hover, &:focus {
    border-color: #A52A2A;
    color: #A52A2A;
  }
}

.btn-categoria {
  color: #A52A2A;
  &:hover, &:focus {
    color: #A52A2A;
  }
}

/* PAGINACION */

.pagination > .active > a {
  background-color: gray;
  border-color: gray;
  color: white;
  &:hover, &:focus {
    background-color: gray;
    border-color: gray;
    color: white;
  }
}

/*
 * MENU SECUNDARIO
 */

.menu-secundario {
  margin-bottom: 8px;
  .list-group-item {
    padding: 4px 15px;
  }
}

/*
 * PIE
 */

#pie {
  background-color: #444;
  color: #AAA;
  font-size: 12px;
  p {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  a {
    color: #CCC;
    font-weight: bold;
    &:hover, &:focus {
      color: #FFF;
    }
    &:active, &:visited {
      color: #CCC;
    }
  }
}

// Import partials.
@import
  "cms/syntax-highlighting"
;
